table {
    border-collapse: collapse;
    width: 20%;
    margin: 0 auto;
    user-select: none
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: lightgray;
}
.tEven {
    background-color: white;
}
.tOdd {
    background-color: lightgray;
}
.selected {
    background-color: lightblue;
}